<ul>
  <% userMessages.forEach(item => { %>
  <li>
    <h2>Title: <%= item.title %></h2>
    <% if(locals.isClubMember || locals.isAdmin) { %>
    <h4>Date and Time: <%= item.date %></h4>
    <h4>Author: <%= item.author %></h4>
    <% } %>
    <p>Message: <%= item.message %></p>
    <% if (locals.isAdmin) { %>
    <form action="deleteMessagePost" method="POST">
      <input type="hidden" name="message_id" value="<%= item.msg_id %>" />
      <button type="submit">Delete message</button>
    </form>
    <% } %>
  </li>
  <% }) %>
</ul>
